
h1 {
    text-align: center;
  }

body {
 background-image: url("/images/background.jpg");
}

p, h2, .spot {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

.spot {
   display: block;
    margin-left: auto;
    margin-right: auto;
}